<section class="hero is-medium">
  <div class="hero-body has-background-primary">
    <h1 class="title is-1">
      BookMark
    </h1>
    <p class="subtitle is-3">Create your next reading list</p>
  </div>
</section>
<section class="is-medium is-flex is-flex-direction-column">
  <div class="has-text-centered p-4">
    <button class="button mb-5">Sign up</button>
    <h3 class="title is-3">or</h3>
    <h3 class="title is-2">Search for books</h3>
  </div>
  <div class="columns">
    <form class="column is-6 is-offset-3">
      <div class="field has-addons column is-full columns is-gapless">
        <div class="control column is-11">
          <input class="input" type="text" placeholder="Enter a genre, author, title, place, person...">
        </div>
        <div class="control column">
          <button class="button is-link">Search</button>
        </div>
      </div>
    </form>
  </div>
</section>
