<section class="hero is-medium is-flex">
  <div class="is-flex is-flex-direction-column is-align-content-start pb-5 pt-5 mt-5">
    <h1 class="project-title ml-6">BookMark</h1>
    <p class=" is-size-4 ml-6 pl-2 has-text-light">Create your next reading list</p>
  </div>
  <div class="hero-body"></div>
</section>
<%= render partial: "shared/searchbar"%>
<div class="columns is-multiline is-centered bookArea">
</div>
